<header-movie [movie]="movie"></header-movie>
<p-divider></p-divider>
<section>
  <h1 class="flex justify-content-center text-6xl font-bold mb-1">Cast</h1>
  <p-divider></p-divider>
  <cast-slider></cast-slider>
</section>
<p-divider></p-divider>
<section>
  <h1 class="flex justify-content-center text-6xl font-bold mb-1">Videos</h1>
  <p-divider></p-divider>
  <video-gallery class="flex justify-content-center"></video-gallery>
</section>
<p-divider></p-divider>
<section>
  <h1 class="flex justify-content-center text-6xl font-bold mb-1">More Images</h1>
  <p-divider></p-divider>
  <posters-tabs class="flex justify-content-center"></posters-tabs>
</section>


